@media screen and (max-width:1099px)
{}
    * {
        margin: 0;
        padding: 0;
    }
    body{
        width:100%;
        background-size: 100%;
    font-family: 'Pretendard';
    overflow-x: hidden;
    height: 100vh;
    }